html {
    font-family: 'Roboto';
    font-size: 1em;
    min-width: 970px;
}

input {
    width: 190px;
    margin-bottom: 5px;
    border-radius: 0px;
    border: none;
    height: 20px;
    color: #781611;
    padding: 15px;
    box-sizing: content-box;
}

.box{
  background-color: #ffffff;
}

button {
    background-color: transparent;
    color: #F4F1ED;
    margin-bottom: 5px;
    margin-top: 5px;
}

.input-field-bg {
    background-color: rgba(225,225,225,0.5);
    border-radius: 2px;
    /*border: 5px solid white;*/
    min-width: 240px;
    max-width: 240px;
    /*min-height: 210px;*/
    position: relative;
    /*the following 3 lines for some unknown reason center everyhting PERFECTLY!*/
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 6px;
    text-align: center;
    padding-bottom: 15px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(235, 235, 235, 0.7);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(235, 235, 235, 0.7);
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(235, 235, 235, 0.7);
}

:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(235, 235, 235, 0.7);
}

#signupHeader {
    margin-bottom: none;
    margin-top: none;
    cursor: pointer;
    font-weight: 100;
    transition: 0.25s;
}

#signupHeader:hover, #signupHeader:active {
    color: rgba(235,235,235,0.5)
}

#signup-password {
    margin-top: -10px;
}

#signup {
    text-align: center;
}

#signup-submit {
    text-transform: uppercase;
    font-size: 0.98em;
}

.indexPagecontent {
    width: 40%;
    padding: 50px 0px;
}

.indexPageDescription {
    width: 60%;
    text-align: center;
    padding-top: 48px;
}


#help_index {
    cursor: pointer;
    transition: 0.25s;
}

#help_index:hover {
    opacity: 0.5;
}

h4 {
    cursor: pointer;
}

#extraContent {
    background-color: rgba(225,225,225,0.5);
    max-width: 240px;
    position: relative;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 4px;
    text-align: center;
    padding-bottom: 30px;
    /*border: 5px solid white;*/
}

.section-header {
    font-weight: 100;
}

.logo {
    height: 40px;
}

nav {
    font-weight: 300;
}

.navbar {
    padding: 0;
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #E8F1F2;
    transition: 0.25s;
    font-size: 1.2em;
}

nav a:hover {
    opacity: 0.5;
    color: white;
    text-decoration: none;
}

nav li:nth-child(2), nav li:nth-child(3), nav li:nth-child(4), nav li:nth-child(5) {
    position: relative;
    top: 10px;
    left: 1%;
    padding: 12px;
}

nav li:nth-child(3) {
    margin-right: -25px;
    font-size: 1.3em;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.navbar-nav {
    width: 1170px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.LOST {
    color: #d9edf7;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.navbar-nav > li > a {
    background-color: #781611;
    color: #f4f1ed;
    height: 50px;
    font-weight: bold;
    font-size: 22px;
}

.indexBackground {
    background: rgb(112,3,0); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(112,3,0,1) 0%, rgba(244,67,54,1) 65%, rgba(229,179,0,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(112,3,0,1) 0%,rgba(244,67,54,1) 65%,rgba(229,179,0,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(112,3,0,1) 0%,rgba(244,67,54,1) 65%,rgba(229,179,0,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #E8F1F2;
}

.indexWrapper {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 95vh;
}

.input-description-label {
    margin-bottom: 0;
    font-size: 1.1em;
}

#incognito-disclaimer {
    padding: 20px;
    font-weight: 300;
}

/*this id is given to the <li> tag in the navigation on the paget to highlight the current pagr the user is on*/

#current-page {
    background-color: #871616;
    border-radius: 8px;
}

#current-page a {
    color: #EF3026;
}

#question {
    font-weight: 300;
    transition: 0.25s;
}

#answer {
    text-align: left;
    padding: 10px;
    font-size: 1.3em;
}

#question:hover, #question:active {
    opacity: 0.5;
}

/*http://learn.shayhowe.com/html-css/building-forms/*/


/*.uploadtext {
  height: 170px;

  margin: 3% 1%;
  float:right;
   border: 3px solid green;
   width: 250px;
}*/


/*styling the individual fieldsets of the upload form for both the upload page and the edit page.*/

.field-bg {
    display: inline-block;
    background: transparent;
    border-radius: 18px;
    /*border: 5px solid white;*/
    min-width: 210px;
    max-width: 220px;
    min-height: 210px;
    position: relative;
    /*the following 3 lines for some unknown reason center everyhting PERFECTLY!*/
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 6px;
    text-align: center;
}

.field-bge {
    display: inline-block;
    background: transparent;
    border-radius: 18px;
    /*border: 5px solid white;*/
    min-width: 210px;
    max-width: 220px;
    min-height: 210px;
    position: relative;
    /*the following 3 lines for some unknown reason center everyhting PERFECTLY!*/
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    text-align: center;
}

.display-form {
    max-width: 250px;
    min-height: 480px;
    border-radius: 18px;
    background-color: #781611;
    border: 3px solid #781611;
    /* position: relative;the following 3 lines for some unknown reason center everyhting PERFECTLY!
  left: 50%;
  transform: translateX(-50%);*/
    display: inline-block;
    /*these 5 lines center the display forms no matter what!!*/
    float: none;
    /* reset the text-align */
    text-align: center;
    /* inline-block space fix */
    margin-left: 8px;
    margin-right: 8px;
}


/*styling the container form element of the upload form.*/

.container {
    /*position: relative;the following 3 lines for some unknown reason center everyhting PERFECTLY!
  left: 50%;
  transform: translateX(-50%);*/
}

#form {
    margin-top: 9px;
    margin-bottom: 9px;
    display: inline-block;
}

.form-small {
    max-width: 250px;
    border-radius: 18px;
    background-color: #750F0F;
    border: 3px solid pink;
    margin: 0 auto;
    /*position: relative;the following 3 lines for some unknown reason center everyhting PERFECTLY!
  left: 50%;
  transform: translateX(-50%);*/
}

.form-big {
    /*this is the form on the upload page*/
    max-width: 750px;
    border-radius: 18px;
    background-color: #781611;
    /*position: relative;the following 3 lines for some unknown reason center everyhting PERFECTLY!
  left: 50%;
  transform: translateX(-50%);
*/
    margin: 0 auto;
}

#displayImage {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*The next two classes are for the display form of the 2-size fieldset like in the books page, where the info can not be editted*/

.row-centered {
    text-align: center;
}

#Description {
    max-height: 85px;
    max-width: 180px;
    height: 85px;
}

.descriptionL {
    color: #000000;
    font-size: 17px;
    font-weight: bold;
}

.stylingDisplayL {
    color: black;
    font-size: small;
    min-height: 18px;
    color: #F4F1ED;
}

.descriptionP {
    color: #d9edf7;
    font-size: 17px;
    font-weight: bold;
}

.stylingDisplayP {
    color: black;
    font-size: small;
    min-height: 18px;
    color: #F4F1ED;
}

#insideScrollingTextDisplay {
    height: 55px;
    overflow-y: scroll;
    position: inherit;
    height: 100px;
    min-width: 150px;
}


/*.display-form-big{
  max-width: 480px;
  border-radius: 18px;
  background-color: #750F0F;
  border: 3px solid pink;
  position: relative;the following 3 lines for some unknown reason center everyhting PERFECTLY!
  left: 50%;
  transform: translateX(-50%);

  display: table;

margin: 0 auto;
}
*/

.row {
    display: block;
    clear: both;
    text-align: center;
}

.uploadtext label {
    /*display:block;*/
}

.uploadpicture {
    /*height: 100%;
   width: 250px;
  margin: 3% 1%;
  float: left;
  border: 3px solid black;*/
}

.uploadcategory {
    /*border: 3px solid blue;
     width: 250px;
*/
    /*margin: 3%;*/
}

.uploadcategory select {
    display: block;
    margin: 3% 1%;
}

form fieldset {
    /*padding: 0;
 display: inline;
  margin: auto;
  border: none;*/
}

p {
    margin: 1px;
    font-size: 100%;
}


/*Code for the JavaS-generated form begins*/

.picture {
    border: 1px solid orange;
    height: 150px;
    width: 150px;
    float: left;
    margin: 3% 1% 1% 1%;
}

.text {
    border: 1px solid blue;
    width: 200px;
    height: 160px;
    float: right;
    margin: 2% 1% 1% 1%;
}

.confirm {
    margin: 0;
}

.typeahead_Course {
    width: 180px;
}

.tt-suggestion {
    display: block;
    content: ' ';
    clear: right;
    display: block;
}

.tt-menu {
    /* used to be tt-dropdown-menu in older versions */
    display: block;
    width: 200px;
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
    color: #fff;
    background-color: #0097cf;
}

.invisibleDiv {
    visibility: hidden;
}

.FormAreas {
    /*border: 2px solid black;*/
    text-align: center;
    float: left;
}

.FormArea {
    /*border: 2px solid black;*/
    text-align: center;
    width: 90%;
}

#canvasContainer {
    background-image: url("Images/no-file-uploaded.png");
    background-repeat: no-repeat;
}

.remove-file-btn {
    padding: 0;
    margin: 0;
    /*position: relative;
  bottom: 1px;
  left: 1px;*/
}


/*Styling buttons, file inputs and other inputs*/

.buttonStyle {
    position: relative;
    width: 150px;
    height: 20px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    font: bold 14px arial;
    padding-top: 1px;
    margin: 5px auto;
    cursor: pointer;
}

.formButton {
    background-color: #781611;
    border-radius: 8px;
    margin-right: 3px;
}

.contactAnchor {
    color: #F4F1ED;
}

#logout {
    cursor: pointer;
    /*makes the mouse seem to be a pointer when hovered over the Log Out anchor*/
}

.genericBlueButton {
    border-radius: 0px;
    border: 2px solid #2196F3;
    background: #2196F3;
    width: 190px;
    font-size: 1em;
    font-weight: 400;
    text-transform: capitalize;
    font-family: 'Roboto';
    text-transform: uppercase;
    padding: 5px 55px;
    transition: 0.3s;
    box-shadow: 0 2px 3px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    color: rgba(255,255,255,0.95)
}

.genericBlueButton:hover {
    background: linear-gradient(to right, rgb(3, 137, 255), rgb(13, 211, 255));
    color: rgba(235,235,235,0.5);
    border: 2px solid rgb(13, 211, 255);
}

.genericButton {
    font-family: 'Roboto';
    font-weight: 300;
    background-color: rgba(50,50,50,0.3);
    color: aliceblue;
    transition: 0.25s;
    width: 190px;
    font-size: 1em;
}

.genericButton:hover, .genericButton:active {
    background-color: rgba(50,50,50,0.5);
}

#forgotPassword {
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 0.25s;
}

#forgotPassword:hover {
    opacity: 0.5;
}

#password-reset-email {
    background-color: rgba(50,50,50,0.3);
    color: aliceblue;
    transition: 0.25s;
}

#password-reset-email:hover, #password-reset-email:active {
    background-color: rgba(50,50,50,0.5);
}

#login-forget {
    font-weight: 300;
    color: aliceblue;
}

#resetPassword {
    font-size: 0.95em;
}

.logoShort {
    height: 125px;
    display: inline;
    margin-bottom: 30px;
}

@media (max-width:760px) {
    .rw-wrapper {
        display: none;
    }
}

.rw-wrapper {
    position: relative;
    left: 75px;
    text-align: left;
    font-family: 'Roboto';
    font-weight: 100;
	padding: 0;
}

.rw-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.rw-wrapper li {
    display: inline;
    font-size: 7em;
    font-weight: 100;
    position: relative;
    opacity: 0;
    margin-left: 10px;
}

.rw-wrapper li:nth-child(1) {
    opacity: 1;
    top: 0px;
    margin-left: 0px;
}

.rw-wrapper li:nth-child(2) {
    animation: jump 6s cubic-bezier(0.4, 0.0, 0.2, 1) infinite 0s;
    position: absolute;
}

.rw-wrapper li:nth-child(3) {
    animation: jump 6s cubic-bezier(0.4, 0.0, 0.2, 1) infinite 2s;
    position: absolute;
}

.rw-wrapper li:nth-child(4) {
    animation: jump 6s cubic-bezier(0.4, 0.0, 0.2, 1) infinite 4s;
    position: absolute;
}

@-webkit-keyframes jump {
    0%   {opacity: 0; top:100px; transform:rotateX(-90deg);}
    13%  {opacity: 1}
    20%  {opacity: 1; top:0px; transform:rotateX(0deg);}
    32%  {opacity: 0;}
    35%  {opacity: 0; top:-100px; transform:rotateX(90deg);}
    100% {opacity: 0;}
}

@-moz-keyframes jump {
    0%   {opacity: 0; top:100px; transform:rotateX(-90deg);}
    13%  {opacity: 1}
    20%  {opacity: 1; top:0px; transform:rotateX(0deg);}
    32%  {opacity: 0;}
    35%  {opacity: 0; top:-100px; transform:rotateX(90deg);}
    100% {opacity: 0;}
}

@keyframes jump {
    0%   {opacity: 0; top:100px; transform:rotateX(-90deg);}
    13%  {opacity: 1}
    20%  {opacity: 1; top:0px; transform:rotateX(0deg);}
    32%  {opacity: 0;}
    35%  {opacity: 0; top:-100px; transform:rotateX(90deg);}
    100% {opacity: 0;}
}

.descriptionWrapper {
    text-align: left;
    margin-left: 75px;
}

.descriptionWrapper h2 {
    font-size: 3em;
    font-weight: 100;
}

.descriptionWrapper p {
    font-size: 1.7em;
    font-weight: 300;
    line-height: 1.4em;
    padding-bottom: 20px;
    padding-top: 35px;
}

#post-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

select {
    height: 29px;
    width: 180px;
    background-color: transparent;
    color: black;
    border: 2px solid;
}


/*.signature{
  background-color: #781611;
  color: #ffffff;
  border: 2px #000000 solid;
  border-radius:12px;
  position: absolute; bottom: 0px;
  width: 100%;
}*/

.lefthand {
    background-color: transparent;
    border-radius: 2px;
    position: relative;
}

.righthand {
    background-color: transparent;
    border-radius: 2px;
    position: relative;
}

.tittle {
    background-color: transparent;
    color: #781611;
    border: 2px #781611 solid;
    border-radius: 12px;
    font-size: 250%;
    font-weight: 100;
}

.outsideForm {
    /*this is a class for any selects, buttons, text inputs that are located outside the form.*/

}

.filter {
    /*border: 2px black solid;*/
    position: relative;
    margin: 0 auto;
    transform: translateX(-50%);
    display: table;
    /*background-color:  pink;*/
}

.uploadFormButton {
    border: 4px #781611 solid;
    font-size: 40px;
}

.buttons {
    border: 4px #781611 solid;
    font-size: 20px;
}

p#noResultsFound {
    color: #781611;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

p#help {
    cursor: pointer;
    background-color: #F4F1ED;
    display: table;
    border-radius: 3px;
    color: #781611;
    padding: 2px;
}

footer {
    background-color: #13181b;
    color: #E8F1F2;
    padding: 50px 0px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.columnWrapper {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.secondaryColumnWrapper {
    display: flex;
    position: relative;
    right: 10%;
    padding-bottom: 30px;
}

.column1, .column2 {
    padding-right: 5%;
}

footer a {
    color: #E8F1F2;
    transition: 0.25s;
}

footer a:hover, footer a:active {
    color: #98d2ff;
    text-decoration: none;
}

footer h3 {
    font-size: 1.7em;
    font-weight: 100;
}

footer ul {
    padding-top: 15px;
}

footer p {
    padding-bottom: 20px;
    text-align: center;
}
